<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Resultados de Cursos</title>
</head>
<body>
	<h1>CURSOS cuyo precio maximo es:<b th:text="${param.precioMax}"></b></h1>
	<br>
	<table border="5" th:if="${curso}">
		<tr>
			<th>NOMBRE</th>
			<th>DURACION</th>
			<th>PRECIO</th>
		</tr>
	
		<tr th:each="c:${cursos}">
			<td th:text="${c.nombre}"></td>
			<td th:text="${c.duracion}"></td>
			<td th:text="${c.precio}"></td>
		</tr>
	</table>
	<h1 th:if="${#Lists.isEmpty(cursos)}"> No hay cursos con este criterio</h1>	
	<br>
	<a href="toInicio">VOLVER</a>
</body>
</html>